---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3ba52-0eqwu9QJV2LgwDuB/BKw4elFJho"
      x-country-code:
      - US
    body:
      encoding: UTF-8
      string: '{"abilities":[{"ability":{"name":"overgrow","url":"https://pokeapi.co/api/v2/ability/65/"},"is_hidden":false,"slot":1},{"ability":{"name":"chlorophyll","url":"https://pokeapi.co/api/v2/ability/34/"},"is_hidden":true,"slot":3}],"base_experience":64,"cries":{"latest":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/1.ogg","legacy":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/legacy/1.ogg"},"forms":[{"name":"bulbasaur","url":"https://pokeapi.co/api/v2/pokemon-form/1/"}],"game_indices":[{"game_index":153,"version":{"name":"red","url":"https://pokeapi.co/api/v2/version/1/"}},{"game_index":153,"version":{"name":"blue","url":"https://pokeapi.co/api/v2/version/2/"}},{"game_index":153,"version":{"name":"yellow","url":"https://pokeapi.co/api/v2/version/3/"}},{"game_index":1,"version":{"name":"gold","url":"https://pokeapi.co/api/v2/version/4/"}},{"game_index":1,"version":{"name":"silver","url":"https://pokeapi.co/api/v2/version/5/"}},{"game_index":1,"version":{"name":"crystal","url":"https://pokeapi.co/api/v2/ve[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3475d-CxLZxeJf32B8p+SW+ftU2rg67IU"
      x-country-code:
      - US
      x-orig-accept-language:
      - en-IN,en-GB;q=0.9,en-US;q=0.8,en;q=0.7
    body:
      encoding: UTF-8
      string: '{"abilities":[{"ability":{"name":"overgrow","url":"https://pokeapi.co/api/v2/ability/65/"},"is_hidden":false,"slot":1},{"ability":{"name":"chlorophyll","url":"https://pokeapi.co/api/v2/ability/34/"},"is_hidden":true,"slot":3}],"base_experience":142,"cries":{"latest":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/2.ogg","legacy":"https://raw.githubusercontent.com/PokeAPI/crie[...]
[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/type/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7db7-1dJRJNEnxM1n+gV4UNs3Y16btoo"
      x-country-code:
      - US
    body:
      encoding: UTF-8
      string: '{"damage_relations":{"double_damage_from":[{"name":"fighting","url":"https://pokeapi.co/api/v2/type/2/"}],"double_damage_to":[],"half_damage_from":[],"half_damage_to":[{"name":"rock","url":"https://pokeapi.co/api/v2/type/6/"},{"name":"steel","url":"https://pokeapi.co/api/v2/type/9/"}],"no_damage_from":[{"name":"ghost","url":"https://pokeapi.co/api/v2/type/8/"}],"no_damage_to":[{"name":"ghost","url":"https://pokeapi.co/api/v2/type/8/"}]},"game_indices":[{"game_index":0,"generation":{"name":"generation-i","url":"https://pokeapi.co/api/v2/generation/1/"}},{"game_index":0,"generation":{"name":"generation-ii","url":"https://pokeapi.co/api/v2/generation/2/"}},{"game_index":0,"generation":{"name":"generation-iii","url":"https://pokeapi.co/api/v2/generation/3/"}},{"game_index":0,"generation":{"name":"generation-iv","url":"https://pokeapi.co/api/v2/generation/4/"}},{"game_index":0,"generation":{"name":"generation-v","url":"https://pokeapi.co/api/v2/generation/5/"}},{"game_index":0,"generation":{"name":"generation-vi","url":"https://pokeapi.co/api/v2/generation/6/"}}],"generation":{"name":"generation-i","url":"https://pokeapi.co/api/v2/generation/1/"},"id":1,"move_damage_class":{"name":"physical","url":"https://pokeapi.co/api/v2/move-damage-class/2/"},"moves":[{"name":"pound","url":"https://pokeapi.co/api/v2/move/1/"},{"name":"double-slap","url":"https://pokeapi.co/api/v2/move/3/"},{"name":"comet-punch","url":"https://pokeapi.co/api/v2/move/4/"},{"name":"mega-punch","url":"https://pokeapi.co/api/v2/move/5/"},{"name":"pay-day","url":"https://pokeapi.co/api/v2/move/6/"},{"name":"scratch","url":"https://pokeapi.co/api/v2/move/10/"},{"name":"vice-grip","url":"https://pokeapi.co/api/v2/move/11/"},{"name":"guillotine","url":"https://pokeapi.co/api/v2/move/[...]
[...]
